<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - UI</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/UI.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</head>
<body>
    @if (User.Identity.IsAuthenticated)
    {
        <header>
            <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow mb-3 py-3">
                <div class="container-fluid">
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between w-100">
                        
                        <ul class="navbar-nav mx-auto">
                            @if (User.IsInRole("admin"))
                            {
                                <li class="nav-item mx-2">
                                    <a asp-controller="Admin" asp-action="Index" class="nav-link position-relative px-3">
                                        <span class="nav-link-text">Управление работниками</span>
                                        <span class="active-indicator"></span>
                                    </a>
                                </li>

                                <li class="nav-item mx-2">
                                    <a asp-controller="Admin" asp-action="WarehouseEdit" class="nav-link position-relative px-3">
                                        <span class="nav-link-text">Управление складами</span>
                                        <span class="active-indicator"></span>
                                    </a>
                                </li>

                                <li class="nav-item mx-2">
                                    <a asp-controller="Admin" asp-action="DeanOfficeEdit" class="nav-link position-relative px-3">
                                        <span class="nav-link-text">Управление деканатами</span>
                                        <span class="active-indicator"></span>
                                    </a>
                                </li>

                                <li class="nav-item mx-2">
                                    <a asp-controller="Admin" asp-action="DepartmentEdit" class="nav-link position-relative px-3">
                                        <span class="nav-link-text">Управление отделами</span>
                                        <span class="active-indicator"></span>
                                    </a>
                                </li>
                            }
                            @if (User.IsInRole("Методист"))
                            {
                                <li class="nav-item mx-2">
                                    <a asp-controller="Methodist" asp-action="OfficeEdit" class="nav-link position-relative px-3">
                                        <span class="nav-link-text">Управление отделами</span>
                                        <span class="active-indicator"></span>
                                    </a>
                                </li>
                                <li class="nav-item mx-2">
                                    <a asp-controller="Methodist" asp-action="ComputerPassportDepartment" class="nav-link position-relative px-3">
                                        <span class="nav-link-text">Компьютеры</span>
                                        <span class="active-indicator"></span>
                                    </a>
                                </li>
                                <li class="nav-item mx-2">
                                    <a asp-controller="Methodist" asp-action="ArrivalAcceptMethodist" class="nav-link position-relative px-3">
                                        <span class="nav-link-text">Заявки на приход</span>
                                        <span class="active-indicator"></span>
                                    </a>
                                </li>
                            }
                            @if (User.IsInRole("Ответственный за склад"))
                            {
                                <li class="nav-item dropdown mx-2">
                                    <a class="nav-link dropdown-toggle position-relative" href="#" id="componentsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <span class="nav-link-text">Комплектующие</span>
                                        <span class="active-indicator"></span>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-lg-start" aria-labelledby="componentsDropdown">
                                        <li><h6 class="dropdown-header">Основные компоненты</h6></li>
                                        <li>
                                            <a asp-controller="ResponWarehouseOnly" asp-action="ProcessorEdit" class="dropdown-item">
                                                <span>Процессоры</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a asp-controller="ResponWarehouseOnly" asp-action="MotherboardEdit" class="dropdown-item">
                                                <span>Материнские платы</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a asp-controller="ResponWarehouseOnly" asp-action="RamEdit" class="dropdown-item">
                                                <span>Оперативная память</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a asp-controller="ResponWarehouseOnly" asp-action="VideoCardEdit" class="dropdown-item">
                                                <span>Видеокарты</span>
                                            </a>
                                        </li>

                                        <li><hr class="dropdown-divider"></li>
                                        <li><h6 class="dropdown-header">Накопители</h6></li>
                                        <li>
                                            <a asp-controller="ResponWarehouseOnly" asp-action="MemoryDiskEdit" class="dropdown-item">
                                                <span>Диски памяти</span>
                                            </a>
                                        </li>

                                        <li><hr class="dropdown-divider"></li>
                                        <li><h6 class="dropdown-header">Периферия</h6></li>
                                        <li>
                                            <a asp-controller="ResponWarehouseOnly" asp-action="MouseEdit" class="dropdown-item">
                                                <span>Мышки</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a asp-controller="ResponWarehouseOnly" asp-action="KeyboardEdit" class="dropdown-item">
                                                <span>Клавиатуры</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a asp-controller="ResponWarehouseOnly" asp-action="ScreenEdit" class="dropdown-item">
                                                <span>Мониторы</span>
                                            </a>
                                        </li>

                                        <li><hr class="dropdown-divider"></li>
                                        <li>
                                            <a asp-controller="ResponWarehouseOnly" asp-action="OCEdit" class="dropdown-item">
                                                <span>Операционные системы</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a asp-controller="ResponWarehouseOnly" asp-action="PowerUnitEdit" class="dropdown-item">
                                                <span>Блоки питания</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>

                                <!-- Остальные важные пункты меню -->
                                <li class="nav-item mx-2">
                                    <a asp-controller="ResponWarehouseOnly" asp-action="ComingEdit" class="nav-link position-relative px-3">
                                        <span class="nav-link-text">Регистрация прихода</span>
                                        <span class="active-indicator"></span>
                                    </a>
                                </li>
                                <li class="nav-item mx-2">
                                    <a asp-controller="ResponWarehouseOnly" asp-action="ConfiguratorPC" class="nav-link position-relative px-3">
                                        <span class="nav-link-text">Конфигуратор ПК</span>
                                        <span class="active-indicator"></span>
                                    </a>
                                </li>
                                <li class="nav-item mx-2">
                                    <a asp-controller="ResponWarehouseOnly" asp-action="ComputerEdit" class="nav-link position-relative px-3">
                                        <span class="nav-link-text">Регистрация ПК</span>
                                        <span class="active-indicator"></span>
                                    </a>
                                </li>

                                <li class="nav-item mx-2">
                                    <a asp-controller="ResponWarehouseOnly" asp-action="ComputerPassportSee" class="nav-link position-relative px-3">
                                        <span class="nav-link-text">Склад</span>
                                        <span class="active-indicator"></span>
                                    </a>
                                </li>

                                <li class="nav-item mx-2">
                                    <a asp-controller="ResponWarehouseOnly" asp-action="ArrivalAcceptWarehouse" class="nav-link position-relative px-3">
                                        <span class="nav-link-text">Распределение</span>
                                        <span class="active-indicator"></span>
                                    </a>
                                </li>
                            }

                            @if (User.IsInRole("Инженер коммуниционного  центра"))
                            {
                                <li class="nav-item mx-2">
                                    <a asp-controller="Engineer" asp-action="ComputerPassportAccept" class="nav-link position-relative px-3">
                                        <span class="nav-link-text">Выдача паспортов</span>
                                        <span class="active-indicator"></span>
                                    </a>
                                </li>
                            }

                            @if (User.IsInRole("Проректор"))
                            {
                                <li class="nav-item mx-2">
                                    <a asp-controller="Rector" asp-action="Distribution" class="nav-link position-relative px-3">
                                        <span class="nav-link-text">Распределение</span>
                                        <span class="active-indicator"></span>
                                    </a>
                                </li>
                            }
                        </ul>
                       
                        <div class="ms-auto">
                            <form asp-controller="Account" asp-action="Logout" method="post" class="d-inline">
                                <button type="submit" class="btn btn-logout">
                                    <i class="bi bi-box-arrow-right me-2"></i>
                                    <span>Выйти</span>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
    }

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.6/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
    @* <script src="~/lib/jquery/dist/jquery.min.js"></script> *@    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
